
/* Your CSS Code here. */
.main{
		width: 200px;
	background-color: purple;
	border-left-width: 5px;
}
#heading{
	color: white;
	font-size: 20px;
	border: solid purple;
	border-left-color: green;
	
}
*{
	padding: 10px;
}